# Basic Tabular Data Viewing with Temperature and Humidity

In [1]:
!pip install pandas Pyarrow

Collecting pandas

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\soch1\Projects\IoT_course\.venv\Scripts\python.exe -m pip install --upgrade pip' command.

  Using cached pandas-2.2.0-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting Pyarrow
  Using cached pyarrow-15.0.0-cp39-cp39-win_amd64.whl (24.9 MB)
Collecting pytz>=2020.1
  Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting numpy<2,>=1.22.4
  Using cached numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\soch1\projects\iot_course\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\soch1\projects\iot_course\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, Pyarrow, pandas
Successfully installed Pyarrow-15.0.0 numpy-1.26.4 pandas-2.2.0 pytz-2024.1 tzdata-2024.1

In [2]:
print(1+1)

2

In [3]:
import pandas as pd

# Create a DataFrame with ten records
data = {
    'Temperature': [20, 21, 19, 22, 21, 20, 23, 24, 22, 21],
    'Humidity': [30, 32, 31, 33, 32, 31, 34, 35, 33, 32]
}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('data.csv', index=False)

# Read the CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Display the DataFrame
df

   Temperature  Humidity
0           20        30
1           21        32
2           19        31
3           22        33
4           21        32
5           20        31
6           23        34
7           24        35
8           22        33
9           21        32

In [8]:
# Load the data
df = pd.read_csv('latest_telemetry.csv')

df

   Last update time          Key  Value
0  20/02/2024 10:32          CO2    404
1  20/02/2024 10:32     Humidity     47
2  20/02/2024 10:32         TVOC      0
3  20/02/2024 10:32  Temperature     20

In [6]:
# Pivot the DataFrame
df_pivot = df.pivot(index='Last update time', columns='Key', values='Value')

# Reset the index
df_pivot.reset_index(inplace=True)

# Save the transformed data
df_pivot.head()

Key  Last update time  CO2  Humidity  TVOC  Temperature
0    20/02/2024 10:32  404        47     0           20

In [9]:
def transform_data(latest_telemetry_file, data_file):
    # Load the existing data
    df_data = pd.read_csv(data_file)

    # Load the new data
    df_latest = pd.read_csv(latest_telemetry_file)

    # Pivot the new DataFrame
    df_latest_pivot = df_latest.pivot(index='Last update time', columns='Key', values='Value')

    # Reset the index
    df_latest_pivot.reset_index(inplace=True)

    # Append the new data to the existing data
    df_combined = pd.concat([df_data, df_latest_pivot])

    return df_combined

In [10]:
def save_data(df, data_file):
    # Save the combined data
    df.to_csv(data_file, index=False)